 /*====================FONTS START=======================*/

 /* cyrillic-ext */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v21/o-0IIpQlx3QUlC5A4PNr6DRAW_0.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v21/o-0IIpQlx3QUlC5A4PNr4TRAW_0.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* devanagari */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v21/o-0IIpQlx3QUlC5A4PNr5DRAW_0.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v21/o-0IIpQlx3QUlC5A4PNr6TRAW_0.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v21/o-0IIpQlx3QUlC5A4PNr5jRAW_0.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v21/o-0IIpQlx3QUlC5A4PNr6jRAW_0.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v21/o-0IIpQlx3QUlC5A4PNr6zRAW_0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v21/o-0IIpQlx3QUlC5A4PNr5TRA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v21/o-0NIpQlx3QUlC5A4PNjXhFVadyB1Wk.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v21/o-0NIpQlx3QUlC5A4PNjXhFVYNyB1Wk.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* devanagari */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v21/o-0NIpQlx3QUlC5A4PNjXhFVZdyB1Wk.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v21/o-0NIpQlx3QUlC5A4PNjXhFVaNyB1Wk.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v21/o-0NIpQlx3QUlC5A4PNjXhFVZ9yB1Wk.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v21/o-0NIpQlx3QUlC5A4PNjXhFVa9yB1Wk.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v21/o-0NIpQlx3QUlC5A4PNjXhFVatyB1Wk.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v21/o-0NIpQlx3QUlC5A4PNjXhFVZNyB.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfCRc4EsA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfABc4EsA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfCBc4EsA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfBxc4EsA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfCxc4EsA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  /*====================FONTS END=======================*/
  /*====================RESET START=======================*/
  
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }

  
  ol,
  ul {
    list-style: none;
  }
  
  blockquote,
  q {
    quotes: none;
  }
  
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /*====================RESET END=======================*/

  /*====================COMMON START=======================*/
  :root{
    --green:#54A757;
    --blue:#29AAE3;
    --yellow:#FFC65D;
    --grey:#F9F9F9;
    --purple:#9033F9;
    --pink:#FF5966;
    --black:#080702;
  }

  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Roboto', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 1000px; /*dev only*/
    line-height: 1.17;
  }

  a {
    display: inline-flex;
    text-decoration: none;
    color: inherit;
  }


  h1 {
    font-size: 48px;
    font-weight: 500;
  }

  .title {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 60px;
  }

  .subtitle {
    font-size: 22px;
    font-weight: 900;
  }

  .list-title{
    font-size: 20px;
    font-weight: 500;
  }

  .text-md {
    font-weight: 500;
  }
  
  .text-semi {
    font-weight: 600;
  }
  
  .text-bold {
    font-weight: 700;
  }
  
  .section {
    margin-top: 100px;
  }
  
button {
    font: inherit;
    color: inherit;
    border: 0;
    background: none;
    cursor: pointer;
    display: inline-flex;
  }

  .btn {
    border-radius: 999px;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    padding: 12px 30px;
    font-size: 20px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
  }
  .btn-sm {
    padding: 10px 20px;
  }
  .btn-lg {
    padding: 30px 60px;
  } 
  .btn-green {
    color: rgb(255, 255, 255);
    background: var(--green);
  }
  .btn-green:hover{
    background-color: #4FA152;;
  }
  .btn-green:active{
    background-color: #0062CC;
  }
  .btn-blue {
    color: rgb(255, 255, 255);
    background: var(--blue);
  }
  .btn-blue:hover{
    background-color: #269ACD;
  }
  .btn-blue:active{
    background-color: #9033F9;
  }
  .btn-pink {
    color: rgb(255, 255, 255);
    background: var(--pink);
  }
  .btn-pink:hover{
    background-color: #EB5560;
  }
  .btn-pink:active{
    background-color: #54A757;
  }
  .btn-purple{
    color: rgb(255, 255, 255);
    background: var(--purple);
  }
  .btn-purple:hover{
    background-color: #842EE7;
  }
  .btn-purple:active{
    background-color: #54A757;
  }
  .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
  /*====================COMMON END=======================*/

  /*====================HEADER START=======================*/
.header {
    left: 0;
    top: 0;
    width: 100%;
    background-color: #080702;
    position: sticky;
  } 
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar__nav a{
    padding: 14px 15px;
  }
  .navbar__nav a:hover {
    text-decoration: underline;
    color: gold;
    transition: 0.3s;
  }
  .header__logo{
      width: 255px;
      height: 100%;
  }
  .navbar__nav {
    display: flex;
    align-items: center;
    font-weight: 700;
    color:#fff;
    text-transform: uppercase;
  }
  .registration {
    border-radius: 999px;
    padding: 0 15px;
    margin: 0 15px;
    background-color: var(--blue);
    border: 1px solid transparent;
    font-size: 20px;
    text-transform:none;
    font-weight: 500;
  }
   a>.fa-sort-down{
    margin-left: 5px;
  }
  .dropmenu{
    position: relative;
  }
  .dropmenu__list{
    background-color: #fff;
    border-radius: 15px;
    padding: 0 15px;
    position: absolute;
    box-shadow: 3px 3px 10px -5px #333;
    left: 0;
    top: 100%;
    visibility: hidden;
  }
  .dropmenu:hover>.dropmenu__list,
  .dropmenu:focus-within>.dropmenu__list{
    visibility: visible;
    transition: 0.3s;
  }
  .dropmenu__list a{
    padding:14px 15px;
  }
  .dropmenu__list a:hover{
    color:rgb(29, 230, 86);
    transition: 0.3s;
  }
  .dropmenu__list li{
    color:var(--blue);
  }
  .navbar-mobile{
    display: none;
  }
  /*====================HEADER END=======================*/

  /*====================HERO START=======================*/

.hero {
    padding-top: 165px;
    padding-bottom: 215px;
    background: linear-gradient(104.58deg, rgba(0, 0, 0, 0.52) 55.87%, rgba(0, 0, 0, 0.255667) 89.51%, rgba(0, 0, 0, 0) 108.26%),url('../img/Hero-image.webp') #e0e0e0 no-repeat left  top  / cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .hero-text {
    color: #fff;
    width: 815px;
    display: flex;
    flex-direction: column;
    gap:32px;
    align-items: flex-start;
  }
  .hero-text button:active{
    background-color: #0062CC;
  }
  .hero-text-sm{
      font-size: 26px;
      display: flex;
      flex-direction: column;
      gap:16px;
      width: 85%;
  }
  /*====================HERO END=======================*/

  /*====================OPPORTUNITIES START=======================*/
  .opportunities-container{
    display: flex;
    gap:12px;
  }
  .opportunities-block{
    background-color: var(--grey);
    width: 310px;
    border-radius: 20px;
    padding: 32px 17px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .opportunities-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 30px;
  }
  .icon-yellow{
    background-color: var(--yellow);
  }
  .icon-purple{
    background-color: var(--purple);
  }
  .icon-pink{
    background-color: var(--pink);
  }
  .icon-blue{
    background-color: var(--blue);
  }
  .opportunities-block h3{
    color: var(--blue);
    margin: 20px 0;
  }
  .opportunities-block h3,h4{
    min-height: calc(2em * 1.17);
    display: flex;
    align-items: center;
  }
  .opportunities-block ul{
    display: flex;
    gap: 12px;
    flex-direction: column;
    margin: 30px 0 40px 0;
    padding-left: 20px ;
    font-weight: 400;
    font-family: 'Noto Sans';
  }
  .opportunities-container ul{
    list-style-type: disc;
    color: var(--blue);
  }
  li span{
    color: black;
  }
  .opportunitie-btn{
    margin-top: auto;
  }

  /*====================OPPORTUNITIES END=======================*/

  /*====================TIMETABLE START=======================*/
  .timetable{
    width: 100%;
    background-color: var(--grey);
    padding-top: 70px;
    padding-bottom: 48px;
  }
  .timetable-title{
    color: var(--blue);
    margin-bottom: 40px;
  }
  .timetable-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .timetable-information{
    width: 475px;
    padding-bottom: 75px;
  }
  .information-text{
    font-size: 18px;
    font-family: 'Noto Sans';
    line-height: 1.36;
  }
  .timetable-btn{
    padding: 12px 50px;
    margin-top: 40px;
  }
  .timetable-img{
    width: 648px;
    height: 483px;
    object-fit: contain;
  }
  /*====================TIMETABLE END=======================*/

  /*====================OPTIMISAZION START=======================*/
  .optimization{
    width: 100%;
  }
  .optimization-title{
    color: var(--purple);
    margin-bottom: 40px;
  }
  .optimization-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .optimization-information{
    width: 425px;
    padding-bottom: 50px;
  }
  .optimization-text{
    font-size: 18px;
    font-family: 'Noto Sans';
    line-height: 1.36;
  }
  .optimization-btn{
    padding: 12px 50px;
    margin-top: 40px;
  }
  .optimization-img{
    width: 713px;
    height: 373px;
    object-fit: contain;
  }
  /*====================OPTIMISAZION END=======================*/

  /*====================CONTROL START=======================*/
  .control{
    width: 100%;
    background-color: var(--grey);
    padding-top: 70px;
    padding-bottom: 48px;
  }
  .control-title{
    color: var(--pink);
    margin-bottom: 20px;
  }
  .control-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .control-information{
    width: 445px;
  }
  .control-text{
    font-size: 18px;
    font-family: 'Noto Sans';
    line-height: 1.36;
  }
  .control-btn{
    padding: 12px 50px;
    margin-top: 40px;
  }
  .control-img{
    width: 369px;
    height: 469px;
    object-fit: contain;
  }
  /*====================CONTROL END=======================*/

  /*====================MEDIA START=======================*/
  .media{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:#434449;
  }
  .media-title{
    width: 596px;
    margin: 0 auto;
  }
  .media-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   iframe{
    width: 1000px;
    height: 562.27px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .video{
    display: flex;
    justify-content: center;
  }
  .questions{
    width: 668px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:60px;
  }
  .questions-text{
    font-size: 26px;
    font-weight: 500;
  }
  .questions-text a{
    color: var(--blue);
  }
  .questions-networks{
    display: flex;
    flex-direction: row;
    gap:16px;
  }
  .facebook,.twitter,.linkedin,.youtube{
    border-radius: 50px;
    transition: all 0.3s ease;
  }
  .facebook:hover{
    box-shadow: 0 0 15px #3b5998;
  }
  .twitter:hover{
    box-shadow: 0 0 15px #00aced;
  }
  .linkedin:hover{
    box-shadow: 0 0 15px #007AB7;
  }
  .youtube:hover{
    box-shadow: 0 0 15px #F52929;
  }
  .networks-img{
    height: 50px;
    width: 50px;
  }
  .networks-img:hover{
    height: 60px;
    width: 60px;
    transition: all 0.3s ease;
  }
  /*====================MEDIA END=======================*/

  /*====================FOOTER START=======================*/
    .footer{
      background-color: var(--blue);
      padding-top: 55px;
      padding-bottom: 85px;
    }
    .footer-menu{
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap:36px;
      padding-bottom: 25px;
      border-bottom: 2px solid #C4C4C4;
    }
    .footer-menu a:hover{
      text-decoration: underline;
      color: gold;
      transition: 0.3s;
    }
    .footer-down{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap:12px;
      margin-top: 20px;
    }
    .footer-down-download{
      display: flex;
      gap:8px;
      align-items: center;
    }
    .google-play{
      width: 152px;
      height: 58px;
    }
    .google-play:hover{
      width: 162px;
      height: 68px;
      transition: all 0.5s ease;
    }
    .app-store{
      width: 120px;
      height: 40px;
    }
    .app-store:hover{
      width: 130px;
      height: 50px;
      transition: all 0.5s ease;
    }
    .footer-down-text{
      font-size: 20px;
      font-weight: 500;
      color:#fff;
      width: 450px;
      text-align: center;
    }
    .footer-down-language{
      width: 130px;
      height: 25px;
    }
    /*====================FOOTER END=======================*/

    /* `xxl` applies to xx-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .timetable-img{
    width: 620px;
    height: 450px;
  }
  .timetable-block{
    justify-content: space-around;
  }
  .optimization-img {
    width: 650px;
    height: 350px;
}
.control-img {
  width: 330px;
  height: 430px;
}
iframe {
  width: 900px;
}
}
/* `xl` applies to x-large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  body{
    font-size: 14px;
  }
  .navbar {
    justify-content: space-around;
}
  .header__logo {
    width: 225px;
}
.navbar__nav a {
  padding: 8px 5px;
}
.hero {
  padding-top: 80px;
  padding-bottom: 130px;
}
.hero-text {
  width: 630px;
  padding-left: 25px;
}
h1{
  font-size: 36px;
}
.title {
  font-size: 30px;
}
.hero-text-sm {
  font-size: 22px;
}
.btn {
  padding: 12px 15px;
}
.opportunities-icon {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}
.opportunities-icon svg{
  width: 45px;
  height: 40px;
}
.opportunities-block h3 {
  margin: 15px 0;
}
.subtitle {
  font-size: 18px;
}
.list-title {
  font-size: 16px;
}
.opportunities-block ul {
  display: flex;
  gap: 12px;
  flex-direction: column;
  margin: 10px 0 20px 0;
  font-size: 11px;
}
.opportunitie-btn {
  padding: 8px 12px;
  font-size: 16px;
}
.information-text {
  font-size: 16px;
}
.timetable-img {
  width: 560px;
  height: 400px;
}
.timetable-block {
  padding: 0 30px;
}
.timetable-btn {
  margin-top: 30px;
  font-size: 16px;
}
.optimization-text {
  font-size: 16px;
}
.optimization-img {
  width: 510px;
  height: 315px;
}
.optimization-information {
padding-bottom: 0;
}
.optimization-block {
  gap:30px;
  padding: 0 30px;
}
.optimization-btn {
  margin-top: 30px;
  font-size: 16px;
}
.control-img {
  width: 300px;
  height: 380px;
}
.control-btn {
  margin-top: 30px;
  font-size: 16px;
}
iframe {
  width: 700px;
  height: 451.27px;
  margin-top: 50px;
  margin-bottom: 100px;
}
}
/* `lg` applies to large devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .navbar {
    justify-content: space-between;
}
  .header__logo {
    width: 170px;
}
  .navbar__nav a {
    padding: 8px 5px;
    font-size: 12px;
}
.registration {
  margin: 0 10px;
}
h1 {
  font-size: 30px;
}
.hero-text {
  gap: 25px;
}
.hero-text-sm {
  font-size: 20px;
  gap: 12px;
}
.hero-text .btn{
  font-size: 14px;
}
.title {
  font-size: 26px;
  margin-bottom: 40px;
}
.opportunities-container {
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}
.opportunities-block {
  width: 233px;
  padding: 20px 19px;
}
.timetable-block {
  padding: 0 25px;
}
.timetable-img {
  width: 420px;
  height: 300px;
}
.information-text {
  font-size: 11px;
}
.timetable-information {
  padding-bottom: 50px;
}
.timetable-btn {
  margin-top: 25px;
  font-size: 13px;
}
.optimization-text {
  font-size: 11px;
}
.optimization-img {
  width: 385px;
  height: 230px;
}
.optimization-btn {
  margin-top: 25px;
  font-size: 13px;
}
.control-text {
  font-size: 11px;
}
.control-information {
  width: 275px;
}
.control-btn {
  margin-top: 25px;
  font-size: 13px;
}
iframe {
  width: 601px;
  height: 338.27px;
}
.questions {
  width: 500px;
  gap: 40px;
}
.questions-text {
  font-size: 20px;
}
.networks-img {
  height: 40px;
  width: 40px;
}
.networks-img:hover {
  height: 50px;
  width: 50px;
}
.questions-networks {
  gap: 12px;
}
}
/*----------------------------------------------------*/
/* `md` applies to medium devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .navbar-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar{
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 1000;
      background-color: #000;
      left: 0px;
      top: 0px;
      justify-content: center;
      transition: 0.3s;
      transform: translateX(-100%);
  }
  .header:focus-within .navbar{
    transform: translateX(0);
  }
  .navbar .header__logo{
    display: none;
  }
  .navbar__nav{
    flex-direction: column;
    gap: 30px;
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 12px;
  }
  .navbar__nav .dropmenu{
    display: none;
  }
  .navbar__nav a:last-child{
    font-size: 20px;
  }
  .registration{
    padding: 5px 30px;
  }
  .header__logo-mobile{
    width: 125px;
    height: 100%;
  }
  .navbar__nav-mobile{
    display: flex;
    align-items: center;
    font-weight: 700;
    color:#fff;
    text-transform: uppercase;
  }
  .navbar__nav-mobile a{
    padding: 10px 11px;
  }
  .navbar__nav-mobile .fa-bars{
    font-size: 15px;
  }
  .hero {
    background: linear-gradient(
104.58deg
, rgba(0, 0, 0, 0.52) 55.87%, rgba(0, 0, 0, 0.255667) 89.51%, rgba(0, 0, 0, 0) 108.26%),url(../img/Hero-image.webp) #e0e0e0 no-repeat center/ cover;
}
.hero-text {
  width: 425px;
}
.hero-text .btn {
  font-size: 16px;
}
.opportunities-block {
  width: 265px;
  padding: 32px 26px;
}
.opportunitie-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.timetable-block {
  flex-direction: column-reverse;
}
.information-text {
  font-size: 18px;
  width: 340px;
}
.timetable-btn {
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.timetable-information {
  padding-bottom: 0; 
}
.optimization-block {
  flex-direction: column;
}
.optimization-text {
  font-size: 18px;
  width: 340px;
}
.optimization-btn {
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.control-block {
  flex-direction: column-reverse;
  gap:32px;
}
.control-text {
  font-size: 18px;
  width: 340px;
}
.control-information {
  width: 425px;
}
.control-btn {
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
iframe {
  width: 500px;
  height: 280.27px;
}
.google-play {
  width: 130px;
  height: 50px;
}
.google-play:hover{
  width: 140px;
  height: 60px;
  transition: all 0.5s ease;
}
.app-store {
  width: 115px;
  height: 35px;
}
.app-store:hover{
  width: 125px;
  height: 45px;
  transition: all 0.5s ease;
}
.footer-down-text {
  font-size: 18px;
}
}
/* `sm` applies to small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .title {
    font-size: 22px;
    margin-left:20px;
    margin-right: 20px;
}
  .navbar-mobile {
    margin: 0 20px;
}
h1 {
  font-size: 26px;
}
.hero-text-sm {
  font-size: 17px;
}
.hero-text {
  padding-left: 20px;
  width: 360px;
}
.hero-text .btn {
  width: 80%;
  display: flex;
  justify-content: center;
}
.timetable-img {
  width: 255px;
  height: 190px;
}
.timetable-information {
  width: 300px;
}
.information-text {
  font-size: 16px;
  width: 300px;
}
.optimization-img {
  width: 260px;
  height: 135px;
}
.optimization-text {
  font-size: 16px;
  width: 300px;
}
.optimization-information {
  width: 300px;
}
.control-img {
  width: 225px;
  height: 275px;
}
.control-text {
  font-size: 16px;
  width: 300px;
}
.control-information {
  width: 300px;
}
.media-title {
  width: 280px;
  font-size: 18px;
}
iframe {
  width: 330px;
  height: 185px;
}
.questions-text {
  width: 245px;
  font-size: 18px;
  text-align: center;
  line-height: 1.17;
}
.footer-down-text {
  width: 310px;
  font-size: 14px;
}
}
